# ERD for Book DataBase

![png](Data/Images/books_4_tables.png)

# Import Libraries

In [1]:
import pymysql
pymysql.install_as_MySQLdb()
import pandas as pd
from sqlalchemy import create_engine

# Misc. Libraries
from sqlalchemy_utils import create_database, database_exists

In [2]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection_str = "mysql+pymysql://root:root@localhost/books"

In [3]:
engine = create_engine(connection_str)

In [4]:
# Create books database if/else statement
if database_exists(connection_str) == False: create_database(connection_str)
else: print('The database already exists.')

The database already exists.

### Read CSV files

In [5]:
# Read csv files
users = pd.read_csv('Data/data_users.csv')
authors = pd.read_csv('Data/data_authors.csv')
favorites = pd.read_csv('Data/data_favorites.csv')
books = pd.read_csv('Data/data_books.csv')

In [6]:
# Convert csv files to sql files
users.to_sql('users', engine, index=False, if_exists = 'replace')
authors.to_sql('authors', engine, index=False, if_exists='replace')
favorites.to_sql('favorites', engine, index=False, if_exists='replace')
books.to_sql('books', engine, index=False, if_exists='replace')

6

In [7]:
q = '''SHOW tables'''
pd.read_sql(q, engine)

  Tables_in_books
0         authors
1           books
2       favorites
3           users

# Testing the Database

In [9]:
q="""SELECT 
    books.title, favorites.user_id
FROM
    books
        JOIN
    favorites ON books.id = favorites.book_id
WHERE
    favorites.user_id = (SELECT 
            users.id
        FROM
            users
        WHERE
            (users.last_name = 'Doe'
                AND users.first_name = 'John'));
"""
pd.read_sql(q,engine)

              title  user_id
0       The Shining        1
1                It        1
2  The Great Gatsby        1